<h1>Dashboard</h1>
      <div class="navbar dashboard">
        <div class="navbar-inner">
          <ul class="nav">
                <% if can? :update, User %>
                  <li><%= link_to 'Users', users_path %></li>
                <% end %>
           </ul>
        </div>
      </div>
